process {
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].toLowerCase()}" },
        mode: params.publish_dir_mode,
        enabled: false
    ]

    withName: MULTIQC {
        publishDir = [
            path: { "${params.outdir}/reports" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename == 'versions.yml' ? null : filename }
        ]
    }

    withName: CUSTOM_DB_FILTER {
        publishDir = [
            path: { "${params.outdir}/custom_db_filter" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename == 'versions.yml' ? null : filename }
        ]
    }

    withName: ITSX {
        publishDir = [
            path: { "${params.outdir}/itsx" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename == 'versions.yml' ? null : filename }
        ]
    }

    withName: AMPLICON_LENGTH {
        publishDir = [
            path: { "${params.outdir}/amplicon_length" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename == 'versions.yml' ? null : filename }
        ]
    }

    withName: BUILD_DB_TAXIDS {
        publishDir = [
            path: { "${params.outdir}/taxonomy" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename == 'versions.yml' ? null : filename }
        ]
    }

    withName: BUILD_DB_LINEAGES {
        publishDir = [
            path: { "${params.outdir}/taxonomy" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename == 'versions.yml' ? null : filename }
        ]
    }

    withName: FUNGAL_SCREENING {
        publishDir = [
            path: { "${params.outdir}/fungal_screening" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename == 'versions.yml' ? null : filename }
        ]
    }

    withName: DEREPLICATE_PER_SPECIES {
        publishDir = [
            path: { "${params.outdir}/dereplication" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename == 'versions.yml' ? null : filename }
        ]
    }

    withName: DEREPLICATE_FULL_LENGTH {
        publishDir = [
            path: { "${params.outdir}/dereplication" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename == 'versions.yml' ? null : filename }
        ]
    }

    withName: GUNZIP_TAXDUMP {
        publishDir = [
            path: { "${params.reference_base}/database_curation/${params.reference_version}/new_taxdump" },
            mode: params.publish_dir_mode,
            enabled: true,
            overwrite: true,
            saveAs: { filename -> filename.tokenize('/')[-1] }
        ]
    }

    withName: GUNZIP_ACCESSION2TAXID {
        publishDir = [
            path: { "${params.reference_base}/database_curation/${params.reference_version}/new_taxdump" },
            mode: params.publish_dir_mode,
            enabled: true,
            overwrite: true,
            saveAs: { filename -> filename.tokenize('/')[-1] }
        ]
    }

}
