params {
    references {
        curated_its2 {
            fasta = null
            taxonomy = null
            description = 'Curated ITS2 reference database'
        }
        taxdump_url = 'https://ftp.ncbi.nlm.nih.gov/pub/taxonomy/new_taxdump.zip'
        accession2taxid_url = 'https://ftp.ncbi.nlm.nih.gov/pub/taxonomy/accession2taxid/nucl_gb.accession2taxid.gz'
        taxdump = params.reference_base ? "${params.reference_base}/database_curation/${params.reference_version}/new_taxdump" : null
        accession2taxid = params.reference_base ? "${params.reference_base}/database_curation/${params.reference_version}/new_taxdump/nucl_gb.accession2taxid" : null
    }
}
